<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xw.mapper.GoodsMapper">
    <resultMap id="baseMap" type="com.xw.entity.Goods">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <result property="brand" column="brand" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 添加数据 -->
    <insert id="add" parameterType="com.xw.entity.Goods">
        INSERT INTO spring_boot_tb_goods(title, price, image, brand)
        VALUES(#{title}, #{price}, #{image}, #{brand})
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM spring_boot_tb_goods WHERE id = #{id}
    </delete>

    <!-- 更新数据 -->
    <update id="update" parameterType="com.xw.entity.Goods">
        UPDATE spring_boot_tb_goods
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="brand != null">
                brand = #{brand},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 查询所有 -->
    <select id="findAll" resultType="com.xw.entity.Goods">
        SELECT * FROM spring_boot_tb_goods
    </select>

    <!-- 根据id查询 -->
    <select id="findById" parameterType="Long" resultMap="baseMap">
        SELECT * FROM spring_boot_tb_goods WHERE id = #{id}
    </select>

    <!-- 条件查询 -->
    <select id="findByPage" parameterType="com.xw.entity.Goods" resultMap="baseMap">
        SELECT * FROM spring_boot_tb_goods WHERE 1=1
        <if test="brand != null">
            AND brand LIKE CONCAT('%', #{brand}, '%')
        </if>
        <if test="title != null">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
    </select>
</mapper>